$font-stack: 'Montserrat', sans-serif;
$font-stack-2: 'Playfair Display';
$light-color: #fff;
$dark-color: #000;
$dark-color-2: #030000;
$btn-color: #3CDCFF;
$btn-color-hover: #48DEFF;
$text-color: #A2A9B7;
$input-color: #9CB7CA;
$href-color: #007792;
$footer-bg-color:#F1F2F6;
$footer-color: #537B97;
